*.RDataTmp filter=lfs diff=lfs merge=lfs -text
*.RDataTmp1 filter=lfs diff=lfs merge=lfs -text
data/ejscreen/EJSCREEN_2023_BG_StatePct_with_AS_CNMI_GU_VI.gdb/* filter=lfs diff=lfs merge=lfs -text
data/ejscreen/EJSCREEN_2023_BG_StatePct_with_AS_CNMI_GU_VI.gdb/a00000039.gdbtable filter=lfs diff=lfs merge=lfs -text
